/*style de l'entete*/
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
#entete{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 62%; 
    position: relative;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;
}
.image_entete{
    left: 0;
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
    object-position: center;
}
.nomsite{
  font-size: 42px;
  margin-top: 1%;
  text-align: left;
  margin-left: 2%;
 /* margin: 0px;*/
  padding-top:0px;
  color: white;
  position: relative;
  font-family: Scriptina, "Script MT Bold", "sakkal Majalla"; 
  display: inline-block;
}

#formrecherche{
    position: relative;
    border:1px solid #FFF;
    border-left: none;
    border-right: none;
    background-color:rgb(000,000,000,0.2);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 1%;
    text-align: center;
    padding: 1%;
    margin-top: 13%;
}
#motcle{
    height: 40px;
    width: 300px;
    border:none;
    padding-left: 2px;
    font-family: Scriptina;
    font-size: 20px;
}
.btnsubmit{
    height: 40px;width: 300px;
    border:none;
    /*background-color: #53af57;*/
    background-color: rgb(116,208,250);
    color:#FFF; 
    font-family: Scriptina;
    font-size: 20px;
}
.btnsubmit:hover{
    height: 40px;width: 300px;
    border:none;
    background-color: white;
    color:rgb(116,208,250); 
    font-family: Scriptina;
    font-weight: bold;
    font-size: 20px;
}
#trucs{
    margin-top:0.2%;
    position: relative;
    background-color:rgb(000,000,000,0.2);
    width: 100%;

}
#lesoptions{
    margin-left: 15%;
}
.options{
    text-align: right;
    color: black;
    font-family: serif;
    margin-left: 3%;
    padding-left: 20px;
    font-size: 18px;
}
.options:hover{
    text-align: right;
    color: white;
    font-family: serif;
 /*   margin-left: 1px;*/
    padding:5px;
    border:1px solid gray;
    border-radius: 5px;
    /*background-color:#53af57;*/
    background-color: rgb(116,208,250);
    border:none;
}

a{
    text-decoration: none;
}
